@import '../../styles/shared.scss';

.home {
    
    margin-left: $sidebar-left-width;
    display: grid;
    grid: auto/auto;
    justify-content: center;

    // @media all and (min-width: 476px) {
    //     .responsive-video-grid-container {
    //         max-width: 240px;
    //     }
    // }

    // @media all and (min-width: 768px){
    //     .responsive-video-grid-container {
    //         max-width: 650px;
    //     }
    // }

    // @media all and (min-width: 1000px) {
    //     .responsive-video-grid-container {
    //         max-width: 950px;
    //     }
    // }
   
    
    @media all and (min-width: 500px){
        .responsive-video-grid-container {
            max-width: 274px;
        }
    }
    @media all and (min-width: 800px){
        .responsive-video-grid-container {
            max-width: 540px;
        }
    }
    @media all and (min-width: 1100px){
        .responsive-video-grid-container {
            max-width: 806px;
        }
    }
    @media all and (min-width: 1350px){
        .responsive-video-grid-container {
            max-width: 1070px;
        }
    }
   
}
